@(message: String)

@main(message){
    <script type="text/javascript" src="@routes.Assets.at("javascripts/blockly_compressed.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/blocks_compressed.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/en.js")"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    IF-THEN
                    <small>code your profits</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-code"></i> IF-Then
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="blocklyDiv" style="height: 450px; width: 500px;">
                </div>
                <xml id="toolbox" style="display: none">
                    <block type="controls_if"></block>
                    <block type="logic_compare"></block>
                    <block type="controls_repeat_ext"></block>
                    <block type="math_number"></block>
                    <block type="math_arithmetic"></block>
                    <block type="text"></block>
                    <block type="text_print"></block>
                </xml>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hacking profits..</h3>
                    </div>
                    <div class="panel-body">
                        <pre>
                            <code>
    $BTC exchangeRate >= (1 BTC -> 2300 USD)
    => buy(BTC 2), OrderLIMIT=0.8
                            </code>
                        </pre>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary pull-right">Save Hack</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            var workspace = Blockly.inject('blocklyDiv',
                    {
                        media: '/assets/media/',
                        toolbox: document.getElementById('toolbox'),
                        grid: {spacing: 20,
                            length: 4,
                            colour: '#ccc',
                            snap: true},
                        trashcan: true
                    });
    </script>
}
