
@(title: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/plugins/morris.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("lib/jquery/jquery.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Walle-EX</a>
                </div>
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu message-dropdown">
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="@routes.Assets.at("images/isma.jpg")" alt="" height="50" width="50">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Ismael Briasco</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Ari, tengo lo tuyo, pasame un address valido...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="@routes.Assets.at("images/diegoram.jpeg")" alt="" height="50" width="50">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Diego Ramirez</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-footer">
                                <a href="#">Read All New Messages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu alert-dropdown">
                            <li>
                                <a href="#">Deposit canceled <span class="label label-danger">Error</span></a>
                            </li>
                            <li>
                                <a href="#">Funds Transfer <span class="label label-success">Success</span></a>
                            </li>
                            <li>
                                <a href="#">Sched expense<span class="label label-warning">Closing</span></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">View All</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Ariel Perelman <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li class="active">
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-bar-chart"></i> My Charts <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo" class="collapse">
                                <li>
                                    <a href="/index">Dashboard</a>
                                </li>
                                <li>
                                    <a href="#">Realtime</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/funds"><i class="fa fa-fw fa-briefcase"></i> My funds</a>
                        </li>
                        <li>
                            <a href="/trade"><i class="fa fa-fw fa-calculator"></i> Trade</a>
                        </li>
                        <li>
                            <a href="/ifttt"><i class="fa fa-fw fa-keyboard-o"></i> IF-THEN</a>
                        </li>

                        <li>
                            <a href="forms.html"><i class="fa fa-fw fa-credit-card"></i> Payment</a>
                        </li>
                        <li>
                            <a href="index-rtl.html"><i class="fa fa-fw fa-calendar"></i> Schedule</a>
                        </li>
                        <li>
                            <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Recomendations</a>
                        </li>
                        <li>
                            <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Settings</a>
                        </li>
                    </ul>
                </div>
                    <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">
                @content
            </div>

        </div>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    </body>
</html>
