@(message: String)

@main(message) {
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Trading
                    <small>Buy+sell = profit</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-money"></i> Trade
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fiat</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputAmount">Amount in dollars</label>
                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="from Dollars">
                                    <div class="input-group-addon">.00</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputAmount">Amount in euros</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-euro"></i>
                                    </div>
                                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="to Euros">
                                    <div class="input-group-addon">.00</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="text-left">Exchange Rate $1 = EU 0.96</div>
                        <button type="submit" class="btn btn-primary pull-right">Transfer</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-dollar fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">546.89</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-euro fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">200.16</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Crypto</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputAmount">Amount in Bitcoin</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-btc"></i>
                                    </div>
                                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="from Bitcoin">
                                    <div class="input-group-addon">.00</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputAmount">Amount in euros</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-euro"></i>
                                    </div>
                                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="to Euros">
                                    <div class="input-group-addon">.00</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="text-left">Exchange Rate BTC 1 = EU 986.9</div>
                        <button type="submit" class="btn btn-primary pull-right">Transfer</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-btc fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">0.8976</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-euro fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">200.16</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
}